*,
*:after,
*:before {
   box-sizing: border-box;
}
:root {
--x: 0;
--y: 0;
--xp: 0;
--yp: 0;
    --hue: calc(0 + (var(--xp) * 500));
    --bg: hsl(0 0% 10%);
    --size: 100px;
    --glow: radial-gradient(
            50% 50% at center,
            hsl(var(--hue) 80% 85%),
            hsl(var(--hue) 80% 70%),
            transparent
        )
        calc((var(--x) * 1px) - (var(--size) * 0.5))
        calc((var(--y) * 1px) - (var(--size) * 0.5)) / var(--size) var(--size) no-repeat fixed;
}

.mainNav {
    width: 100%;
    height: 80px;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    text-transform: uppercase;
    padding: 0 40px;
}

@media screen and (max-width: 799px) {
    .mainNav {
        padding: 0 20px;
   }
}
.mainNav__logo{
    font-style: italic;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 18px;
    cursor: pointer;
}

.mainNav__links {
    display: flex;
}
@media screen and (max-width: 799px) {
    .mainNav__links {
        display: none;
   }
}
.mainNav__link {
    letter-spacing: 1px;
    font-size: 14px;
    margin-left: 20px;
    font-weight: 600;
    box-shadow: inset 0px -10px 0px rgba(255, 255, 255, 0.5);
    transition: all 0.4s ease, transform 0.2s ease;
    padding: 2px 4px;
    transform: translateY(0px);
}
.mainNav__link:hover {
    color: black;
    transform: translateY(-5px);
    box-shadow: inset 0px -20px 0px white;
}

.mainNav__icon {
    background-image: url(https://rafaelalucas91.github.io/assets/icons/black/icon-141.svg);
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
}
@media screen and (max-width: 799px) {
    .mainNav__icon {
        display: block;
   }
}

@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap");
* {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
}
*:focus {
    outline: 0;
}
body {
    min-height: 100vh;
    font-family: "Raleway", sans-serif;
    background:	#091921;
}


.filter {
    margin-top: 80px;
    width: 100%;
    padding: 10px;
}

button {
    border-radius: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1ch;
    background: var(--bg);
    border: 4px solid transparent;
    box-shadow: 0 1px hsl(0 0% 100% / 0.15) inset;
    cursor: pointer;
    background:
        linear-gradient(var(--bg), var(--bg)) padding-box,
        var(--glow),
        linear-gradient(black, black) border-box;
    transition: background-size 0.24s;
    touch-action: none;
    position: relative;
    padding: 0.5rem 1rem;
    margin: 3px 3px;
}

button::before {
    content: "";
    position: absolute;
    inset: 0;
    box-shadow: 0 1px hsl(0 0% 100% / 0.15) inset;
    background: var(--bg);
    z-index: 2;
    border-radius: 0.8rem;
}

button span {
    background: var(--glow), black;
    background-clip: text;
    color: transparent;
    height: 100%;
    width: 100%;
    z-index: 2;
    position: relative;
    inset: 0;
    color: cadetblue;
}

:root:has(button:active) {
    --size: 500px;
}

button::after {
    content: "";
    position: absolute;
    inset: -4px;
    filter: blur(20px);
    border: 4px solid transparent;
    background: var(--glow);
    border-radius: 1rem;
}

nav {
    text-align: center;
    color: silver;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 1000;
}

nav h2 {
    background: var(--glow), whitesmoke;
    background-clip: text;
    color: transparent;
    z-index: 2;
    position: relative;
    display: inline-block;
}


.card-container {
	width: 100%;
	padding: 10px;
}

.main {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 10px;
}

.card {
	width: calc(33.33% - 20px);
	min-width: 250px;
	max-width: 300px;
	height: 375px;
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.05);
	border: 6px solid #091921;
	border-radius: 20px;
	backdrop-filter: blur(15px);
	color: white;
    flex-direction: column;
}

.card:hover {
	box-shadow: 0 0 2rem 0 rgb(255, 255, 255);
}

card-content{
    justify-content: center;
}

.image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.name,
.level {
    width: 100%; 
    margin: 10px 0;
    text-align: center;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}


.date,
.time,
.duration {
    margin: 5px 0;
    text-align: center;
}

.clicked {
    border: 4px solid green;
}

